@{
    ViewData["Title"] = "Home Page";
}

<div class="row">
    <div class="padding">
    </div>
</div>
<div class="row">
    <div class="col-md-4 offset-md-4">
        <div class="title">
            <div class="header">Unit Conversion</div>
        </div>
    </div>
</div>
<div class="row">
    <div class="padding2">

    </div>
</div>
<div class="row">
    <div class="col-md-4 offset-md-4">
        <div class="conversion">
            <div class="subheader">I want to convert...</div>
            <p></p>
            <div class="body">
                <p><a href="~/Views/MilesToFathoms/MilesToFathoms.cshtml">Miles to Fathoms</a></p>
                <p><a href="Meters2Feet.cshtml">Meters to Feet</a></p>
                <p><a href="CelsiusToFahren.cshtml">Celsius to Fahrenheit</a></p>
                <p><a href="CentToInch.cshtml">Centimeters to Inches</a></p>
                <p><a href="DollarToEuro.cshtml">Dollars to Euros</a></p>
            </div>
        </div>
    </div>
</div>

