@model DollarToEuroViewModel
@{
    ViewBag.Title = "DollarToEuro";
}
<body>
    <div id="dte">
        <div class="row">
            <div class="padding">

            </div>
        </div>
        <div class="row">
            <div class="col-md-4 offset-md-4">
                <div class="title header">
                    Unit Conversion
                </div>
            </div>
        </div>
        <div class="row">
            <div class="padding2">
            </div>
        </div>
        <div class="row">
            <div class="col-md-4 offset-md-4">
                <div class="conversion">
                    <p class="subheader">Dollars to Euros</p>
                    <form action="ConvertDTE" method="post">
                        <input name="dollars" type="number" step="0.01" placeholder="Dollars" />
                        <input name="euros" type="number" step="0.01" placeholder="Euros" />
                        <button type="submit" class="button">Submit</button>
                    </form>
                    <p>Dollars: @Model.Dollars</p>
                    <p>Euros: @Model.Euros</p>
                </div>
            </div>
        </div>
    </div>
</body>